{% extends "base.html" %}
{% load static %}
{% block title %} О себе {% endblock %}

{% block content %}
<div class="about_block">
    <img  class='about_image' src="{% static 'images/about/about.jpg' %}" alt="">
    <h3 class="about_name">Денис Илюкович</h3>
    <p class="about_study">Образование: БГУИР 2020, Радиоинформатика <br>
        Город: Минск <br>
        Увлечения:  <br>
        О себе:
    </p>
    <div class="about_social">
        <a href="https://github.com/dediluk" target="_blank"><img src="{% static 'images/icons/git.png' %}" alt="" class="social tg"></a>
        <a href="https://t.me/Dediluk" target="_blank"><img src="{% static 'images/icons/telegram.png' %}" alt="" class="social tg"></a>
        <a href="https://vk.com/dilukovich" target="_blank"><img src="{% static 'images/icons/vk.png' %}" alt="" class="social"></a>
        <a href="mailto:dediluk@gmail.com"><img src="{% static 'images/icons/mail.png' %}" alt="" class="social"></a>
        <a href="https://www.linkedin.com/in/denis-ilyukovich-a02528182" target="_blank"><img src="{% static 'images/icons/linkedin.png' %}" alt="" class="social"></a>
    </div>
</div>
{% endblock content %}