{% extends "base.html" %}
{% block title %} Вход {% endblock %}

{% block content %}

{% if validlink %}
   <p>Please enter new password</p>

<form method='post' action="">
     {% csrf_token %}
    <table>
        <tr>
            <td>{{form.new_password1.errors}}</td>
            <label for="id_new_password1">New password:</label>
            <td>{{form.new_password1}}</td>
        </tr>
        <tr>
            <td>{{form.new_password2.errors}}</td>
            <label for="id_new_password2">Confirm password: </label>
            <td>{{form.new_password2}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"  value="Change my password"></td>
        </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{next}}">

</form>
{% else %}
    <h1>Password reset failed</h1>
    <p>Ссылка сломана</p>
{% endif %}

{% endblock content %}