* {
	margin: 0;
	padding: 0;
}

a{

}

a:hover{
    text-decoration: none;
    color: #8c8c8c;
}

html,body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.body {
    display:flex;
    flex-direction:column;
}
.container {
    width: 1366px;
    margin: 0 auto;
    position: relative;
	min-height: 100%;
}

.content {
	box-sizing: border-box;
	padding-bottom: 100px;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 20px;
	/* flex: 1 0 auto; */
	/* padding:1rem; */
}

.footer {

    /* flex: 0 0 auto; */
    /* padding:1rem; */
    color: white;
    martin-top:-100px;
    height: 57px;
    background-color: #343a40;
    background-color: #343a40;
    width: 1110px;
    margin: -46px auto;
}

ul {
    list-style-type: none;
}

.main_some_section{
    height:220px;
    width:250px;
}

.index_book_link{
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.index_book_link:hover {
    color: #8c8c8c
}

.main_page_article {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.book_content {
    /* margin-left:75px; */
    /* margin-top: 25px; */
}

.main_page_article:hover{
    color: #8c8c8c;
    text-decoration: none;
}

.main_section {
    /* margin-left: 75px; */
    /* margin-top: 25px; */
}
.books_image_mp {
    /* margin-left:auto; */
    /* margin-right:auto; */
    height: 210px;
    width: 229px;
}

.book_image_mp_div{
    height: 210px;
    width: 229px;
    margin-left:auto;
    margin-right:auto;
}

.books_image_mp:hover {
    opacity: 0.7;
}

.book_detail {
    /* margin-left: 75px; */
    /* margin-right: 75px; */
    /* margin-top: 20px; */
}

.author_name {

}

.book_image, .author_image {
    height:300px;
    width: 200px;
    float: left;
}

.book_image_div, .author_image_div {
    height:300px;
    width: 200px;
    float:left;
    margin-left: 22px;
}

.book_description{
    margin-left: 255px;
}

.author_list {
    margin-left: 20px;
}

.author_description{
    margin-left: 255px;
}

.about_image {
    height: 350px;
    /* margin-left: 90px; */
    /* margin-top: 25px; */
    float:left;
}

.about_name {
    margin-top:25px;
    margin-left: 280px;
}

.about_study {
    margin-left: 280px;
}

.about_social{
    margin-left: 280px;
}


.social {
    height: 40px;
}

.tg {
    height: 42px;
}

.search_book_image_div {
    height:300px;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}

.search_book_image {
    height:300px;
    width: 200px;

}

.search_book_image:hover {
    opacity: 0.7;
}

.search_div {
    height: 388px;
    width: 240px;
    float: left;
}

.search_book_title, .main_page_article{
    text-align: center;
}

.nav-link-username {
    color: #9a9d90;
}

.nav-link-username:hover{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.social_image:hover{
    opacity:0.7;
}

.linked_in {
    height:48px;
}

.errorlist {
    display: none;
}

.clr {
    height:55px;
    clear: both;
}

.header{
    height: 51px;
}

.mybooks_h2 {
    /* color: #859292; */
    float:left;
    margin-bottom: 1px;
    margin-right: 15px;
}

.add_book_header{
    position:absolute;
    right:0;
    margin-right: 98px;
    margin-top: 3px;
}

.delete_book{
    text-align:center;
}

.delete_book_button{

margin-top: 8px;
}

#id_title{color: #343a40;padding: 9px 77px;margin-left: 31px;}

.user_avatar {
    height: 299px;
    width: 214px;
    float:left;
}

.search_result{

margin-left: 0;

float: none;
}

.logged_out_p, .logged_out_login_link {
    text-align:center;
}

input[type=text], input[type=email]{
      background-color: #f6f6f6;
      border: none;
      padding: 4px;
      color: #0d0d0d;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px;
      border: 2px solid #f6f6f6;
      border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus{
    background-color:#fff;
    border-bottom:2px solid #5fbae9;
}


input[type=password],textarea, input[type=file], select{
      background-color: #f6f6f6;
      border: none;
      padding: 4px;
      color: #0d0d0d;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      border: 2px solid #f6f6f6;
      border-radius: 5px 5px 5px 5px;
}

.lost_password_link{
    text-align:center;
}

.paginator{
    /* float:right; */
    /* margin-bottom: 48px; */
    /* margin-top: 38px; */
    /* margin-bottom: -100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

.login_div, .book_add_div, .change_password_div, .author_add_div, register_form_div{
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.login_button,.book_add_button, .author_add_button{
    margin-top: 4px;
    text-align:center;
    /* padding-bottom: 165px; */
}

.login_error, .reset_password_p{
    text-align:center;
}



#id_description{
    margin-left: 31px;
    width: 350px;
}

#id_author_name {margin-left: 54px;width: 349px;}

#id_image{
    padding-left: 30px;
    margin-left: 9px;
    width: 350px;
}

.reset_password_p{
    text-align:center;
}

.change_password{
    margin-left: 22px;
}

#id_new_password1 {

}

.not_active_h2{
    color: #859292;
}

.not_active_h2:hover {
    color: #212529;
}

#id_name{
    margin-left: 79px;
    width: 348px;
}