* {
	margin: 0;
	padding: 0;
}

a{

}

a:hover{
    text-decoration: none;
    color: #8c8c8c;
}

html,body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
    position: relative;
	height: 100%;
}

.content {
	box-sizing: border-box;
	min-height: 88%;
	padding-bottom: 90px;
	    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
}

.footer {
	color: white;
	background-color: #343a40;
	background-color: #343a40;

}

ul {
    list-style-type: none;
}

.main_some_section{
    height:220px;
    width:250px;
}

.index_book_link{
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.index_book_link:hover {
    color: #8c8c8c
}

.main_page_article {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}

.book_content {
    /* margin-left:75px; */
    /* margin-top: 25px; */
}

.main_page_article:hover{
    color: #8c8c8c;
    text-decoration: none;
}

.main_section {
    /* margin-left: 75px; */
    /* margin-top: 25px; */
}
.books_image_mp {
    /* margin-left:auto; */
    /* margin-right:auto; */
    height: 210px;
    width: 229px;
}

.book_image_mp_div{
    height: 210px;
    width: 229px;
    margin-left:auto;
    margin-right:auto;
}

.books_image_mp:hover {
    opacity: 0.7;
}

.book_detail {
    /* margin-left: 75px; */
    /* margin-right: 75px; */
    /* margin-top: 20px; */
}

.book_image, .author_image {
    height:300px;
    width: 200px;
    float: left;
}

.book_image_div, .author_image_div {
    height:300px;
    width: 200px;
    float:left;
}

.book_description{
    margin-left: 220px;
}

.book_description_description {

}

.author_description{
    margin-left:225px;
}

.about_image {
    height: 350px;
    /* margin-left: 90px; */
    /* margin-top: 25px; */
    float:left;
}

.about_name {
    margin-top:25px;
    margin-left: 280px;
}

.about_study {
    margin-left: 280px;
}

.about_social{
    margin-left: 280px;
}


.social {
    height: 40px;
}

.tg {
    height: 42px;
}

.search_book_image_div {
    height:300px;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}

.search_book_image {
    height:300px;
    width: 200px;

}

.search_book_image:hover {
    opacity: 0.7;
}

.search_div {
    height: 388px;
    width: 240px;
    float: left;
}

.search_book_title, .main_page_article{
    text-align: center;
}

.nav-link-username {
    color: #9a9d90;
}

.nav-link-username:hover{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.social_image:hover{
    opacity:0.7;
}

.linked_in {
    height:48px;
}

.errorlist {
    display: none;
}